<div class="inputEdit">
	<div class="profile__menu-item">
		<p class="profile__menu-label fs fs-13">{{label}}</p>
		<input {{property}} name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" class="profile__menu-input {{classInput}} fs fs-13" />
	</div>
	<span class="inputBlock__message fs fs-8" id="error_{{name}}"></span>
</div>
