<div class="chat__menu">
    {{{profileList}}}
</div>

{{{editEmailWindow}}}

{{{editLoginWindow}}}

{{{editPhoneWindow}}}

{{{editFirstNameWindow}}}

{{{editSecondNameWindow}}}

{{{editPassWindow}}}


<main class="chat__container">

    <section class="chat__main" id="chat">

        <div class="chat__search">
            <div class="chat__hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <input class="chat__search-input" placeholder="Поиск" />
        </div>

        <div class="chat__list">
            {{{chatList}}}
        </div>

    </section>

    <section class="message__main">
        <div class="message__info">
            <div class="message__wrap">
                <div class="message__wrap-avatar"></div>
                <div class="message__wrap-name">{{name}}</div>
            </div>
            <div class="message__setting">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="message__list">
            <div class="message__time">19 июня</div>
            {{{messageList}}}
        </div>
        <div class="message__input">
            {{{btnAdd}}}
            <input class="message__input-input" placeholder="Сообщение" />
            {{{btnSend}}}
        </div>
    </section>
</main>