<main class="main">
    <div class="chat__menu-container">
        <div class="chat__menu-profile">
            <label for="avatar" class="chat__menu-profile-avatar fs fs-11">
                <input id="avatar" type="file" name="avatar" hidden />
            </label>
            <p class="chat__menu-profile-title fs fs-20 fw">{{display_name}}</p>
        </div>

        <ul class="chat__menu-info">

            <div class="chat__menu-item email">
                <p class="chat__menu-label fs fs-13">Почта</p>
                <input name="email" type="email" placeholder="{{email}}" class="chat__menu-input fs fs-13" />
            </div>

            <div class="chat__menu-item login">
                <p class="chat__menu-label fs fs-13">Логин</p>
                <input name="login" type="login" placeholder="{{login}}" class="chat__menu-input fs fs-13" />
            </div>

            <div class="chat__menu-item phone">
                <p class="chat__menu-label fs fs-13">Телефон</p>
                <input name="phone" type="phone" placeholder="{{phone}}" class="chat__menu-input fs fs-13" />
            </div>

            <div class="chat__menu-item display_name">
                <p class="chat__menu-label fs fs-13">Имя в чате</p>
                <input name="display_name" type="display_name" placeholder="{{display_name}}"
                    class="chat__menu-input fs fs-13" />
            </div>

            <div class="chat__menu-item first_name">
                <p class="chat__menu-label fs fs-13">Имя</p>
                <input name="first_name" type="first_name" placeholder="{{first_name}}"
                    class="chat__menu-input fs fs-13" />
            </div>

            <div class="chat__menu-item second_name">
                <p class="chat__menu-label fs fs-13">Фамилия</p>
                <input name="second_name" type="second_name" placeholder="{{second_name}}"
                    class="chat__menu-input fs fs-13" />
            </div>

        </ul>
        <div class="chat__menu-wrap">

            <div class="chat__menu-wrap-btn edit_pass">
                {{{btnChangePass}}}
            </div>
            <div class="chat__menu-wrap-btn">
                {{{btnLogOff}}}
            </div>

        </div>
    </div>
</main>
