<div class="chat__menu-container">
    <div class="chat__menu-profile">
        <div class="chat__menu-profile-avatar"></div>
        <p class="chat__menu-profile-title fs fs-20 fw">{{profileName}}</p>
    </div>

    <ul class="chat__menu-info">

        <div class="chat__menu-item email">
            <p class="chat__menu-label fs fs-13">Почта</p>
            <input id="" name="Почта" type="email" placeholder="{{email}}" class="chat__menu-input fs fs-13" />
        </div>

        <div class="chat__menu-item login">
            <p class="chat__menu-label fs fs-13">Логин</p>
            <input type="login" placeholder="{{login}}" class="chat__menu-input fs fs-13" />
        </div>

        <div class="chat__menu-item phone">
            <p class="chat__menu-label fs fs-13">Телефон</p>
            <input type="phone" placeholder="{{phone}}" class="chat__menu-input fs fs-13" />
        </div>

        <div class="chat__menu-item first_name">
            <p class="chat__menu-label fs fs-13">Имя</p>
            <input type="first_name" placeholder="{{profileName}}" class="chat__menu-input fs fs-13" />
        </div>

        <div class="chat__menu-item second_name">
            <p class="chat__menu-label fs fs-13">Фамилия</p>
            <input type="second_name" placeholder="{{second_name}}"
                class="chat__menu-input fs fs-13" />
        </div>

    </ul>
    <div class="chat__menu-wrap">

        <div class="chat__menu-wrap-btn edit_pass">
            {{{btnChangePass}}}
        </div>
        <div class="chat__menu-wrap-btn">
            {{{btnLogOff}}}
        </div>

    </div>
</div>