<main class="chat">

	<section id="chat" class="chat__main">
		<div class="chat__search">
			<a href="/profile">
				<div class="chat__hamburger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</a>
			<input type="search" class="chat__search-input" placeholder="Поиск" />
		</div>

		<div class="chat__list">
			{{{chatList}}}
		</div>
		{{{addChatBtn}}}
	</section>

	<section class="message__main">
		{{{header}}}

		<div class="message__list">
			{{{messages}}}
		</div>
		<div class="message__input">
			{{{btnAdd}}}
			<input name="message" class="message__input-input" required placeholder="Сообщение" />
			{{{btnSend}}}
		</div>
	</section>

</main>
