<div>
	<div class="message__info">
		<div class="message__wrap">
			<div class="message__wrap-avatar"><img class="user_avatar" src="{{userAvatar}}"
					onerror="this.style.visibility = 'hidden'"> </div>
			<div class="message__wrap-name">{{chatName}}</div>
		</div>
		<div data-settings="{{this.id}}" class="message__setting">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	{{{modalSetting}}}

	{{{addUser}}}
</div>
