<main class="main">
	<section class="profile__back">
		<a class="profile__back-link" href="/chat"></a>
	</section>

	<section class="profile__info">

		<div class="profile__info-container">
			<div class="profile__menu">
				{{{profileAvatar}}}

				<form id="form" class="profile__form" name="profileForm">
					{{{inputEmail}}}
					{{{inputLogin}}}
					{{{inputPhone}}}
					{{{inputDisplayName}}}
					{{{inputFirstName}}}
					{{{inputSecondName}}}
				</form>
			</div>

			<div class="profile__info-wrap">

				<div class="profile__info-wrap-btn edit_pass">
					{{{btnChangePass}}}
				</div>
				<div class="profile__info-wrap-btn edit_data">
					{{{btnChangeData}}}
				</div>

				<div class="profile__info-wrap-btn">
					{{{btnOut}}}
				</div>

			</div>

		</div>
	</section>

</main>
