<main class="main">
	<section class="profile__back">
		<a class="profile__back-link" href="/profile"></a>
	</section>

	<section class="profile__info">
		<div class="profile__info-container">
			<div class="profile__menu">
				{{{profileAvatar}}}

				<form id="form" class="profile__form" name="profileForm">
					{{{inputEmail}}}
					{{{inputLogin}}}
					{{{inputPhone}}}
					{{{inputDisplayName}}}
					{{{inputFirstName}}}
					{{{inputSecondName}}}
				</form>
			</div>

			<span id="error_form" class="edit__error fs fs-9"></span>

			<div class="profile__info-wrap">
				<div class="edit__btn">
					{{{btnSave}}}
				</div>
			</div>
		</div>
	</section>
</main>
