<div class="inputBlock">
    <label class="inputBlock__label {{classLabel}}">{{label}}</label>
    <input name="{{name}}" type="{{type}}" required placeholder="{{placeholder}}"
        class="inputBlock__input fs fs-13 fw4"/>
	<span class="inputBlock__message fs fs-8" id="error_{{name}}"></span>
</div>
