<div class="inputBlock">
    <p class="inputBlock__label {{classLabel}}">{{label}}</p>
    <input id="{{id}}" name="{{name}}" type="{{type}}" placeholder="{{placeholder}}"
        class="inputBlock__input fs fs-13 fw4" />
    <p class="inputBlock__message fs fs-8">{{errorMessage}}</p>
</div>
