<main class="main">
    <form id="form" class="signup__form" name="signupForm">
        <div class="signup__container">
            <h1 class="signup__title fs fs-20">Регистрация</h1>
			<wrapper class="wrapper signup_wrapper">
				{{{inputEmail}}}
				{{{inputLogin}}}
				{{{inputName}}}
				{{{inputSecName}}}
				{{{inputPhone}}}
				{{{inputPass}}}
				{{{inputPassRet}}}
			</wrapper>
			<span id="error_form" class="signup__error fs fs-9"></span>
            <div class="signup__button">
                {{{btnPrimary}}}
                {{{btnLink}}}
            </div>
        </div>
    </form>
</main>
