<div class="message {{classMsg}}" id={{id}}>
    {{#if text}}
    <p class="message__text fs fs-12">{{text}}</p>
    {{/if}}
    {{!-- {{#if img}} --}}
    {{!-- <img src={{img}} alt="image" class="message__img"> --}}
    {{!-- {{/if}} --}}
    <div class="message__infMsg">
        {{!-- {{#if check}} --}}
        <p class="message__infMsg-check"></p>
        {{!-- {{/if}} --}}
        <p class="message__infMsg-time fs fs-9 lh">{{time}}</p>
    </div>
</div>
